a {
	&.button {
		@extend %o-button;
	}

	text-decoration: none;
	color: $palette-link;

	&:hover {
		text-decoration: underline;
	}
	&:focus {
		text-decoration: underline;
	}
	&:active {
		background: $palette-link;
		color: $palette-link-contrast;
	}
}