// Forcing all headings to a common baseline removes the Safari bug where
// headings are relatively sized when within article tags. It also makes the
// designer explicitly specify the size, removing ambiguity or guesswork.
h1, h2, h3, h4, h5, h6 {
	font-family: $font-heading;
	font-size: 1rem;
	font-weight: $font-heading-weight;
	margin: 0;
	color: $palette-text-header;
}