i {
	position: relative;
	font-style: normal;

	&.icon-menu {
		width: 1.25rem;
		height: 1.25rem;

		&::before, &::after {
			content: "";
			box-sizing: border-box;
			position: absolute;
			display: block;
			width: 100%;
			transition: all 0.1s ease-in-out;
		}

		&::before {
			top: 0;
			bottom: 0;
			border-top: 4px solid black;
			border-bottom: 4px solid black;
		}

		&::after {
			top: calc(50% - 2px);
			border-top: 4px solid black;
		}
	}
}