/**
 * This box-sizing method doesn't prevent elements from being made content-box
 * within application stylesheets.
 * @see https://css-tricks.com/box-sizing/
 */
html {
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit;
}

/**
 * The prefers-reduced-motion CSS media feature is used to detect if the user
 * has requested that the system minimize the amount of animation or motion it
 * uses. Why 0.01ms? So it is still invisible, but doesn't break JavaScript
 * animationEnd events.
 * @see https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion
 */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

@import "variable/size";
@import "variable/palette";
@import "variable/font";
@import "variable/break";

@import "pattern/user-input";
@import "pattern/flex";

@import "decoration/focus-hover";
@import "decoration/text-input";
@import "decoration/button";
@import "decoration/select";

@import "reset/body";
@import "reset/h";
@import "reset/ul-ol-menu";
@import "reset/input";
@import "reset/button";
@import "reset/textarea";
@import "reset/select";
@import "reset/main";
@import "reset/img";
@import "reset/a";

@import "layout/form-labels";