@use "../decoration/focus";
@use "../decoration/visually-hidden";

%p-badge {
	padding: .15rem .45rem;
	border: 1px solid var(--pal--panel--border);
	border-radius: 1rem;
	background: var(--pal--navigation--selected);
	font-size: .75rem;
	font-weight: 500;
	white-space: nowrap;
}

%p-toggle-badge {
	@extend %p-badge;
	@extend %d-focus;
	display: inline-flex;
	position: relative;
	padding: .4rem .7rem;
	background: var(--pal--panel--background);
	input { @extend %d-visually-hidden; }
	&:has(input:checked) {
		background: var(--pal--navigation--selected);
		border-color: var(--pal--control--border-hover);
		color: var(--pal--heading--text);
	}
	&:hover { border-color: var(--pal--control--border-hover); }
	&:has(input:focus-visible) { outline: var(--outline--focus); }
}
