@use "../object/field";
@use "../object/icon-button";
@use "../pattern/field-action";

%p-form-fields {
	display: flex;
	flex-direction: column;
	gap: var(--space--gap, 1rem);
	justify-content: stretch;

	.field-action {
		@extend %p-field-action;

		> button {
			@extend %o-icon-button;
		}
	}

	.actions {
		flex-direction: column;
	}

	label {
		@extend %o-field;
	}

	.actions {
		display: flex;
		gap: var(--space--gap, 1rem);
		justify-content: stretch;

		>* {
			flex-grow: 1;
		}
	}

	> p {
		margin-block: 0;
	}
}
