%p-icon {
	&::before {
		content: "";
		display: inline-block;
		inline-size: var(--size--icon);
		block-size: var(--size--icon);
		flex-shrink: 0;
		vertical-align: middle;
		margin-inline-end: var(--space--icon--gap);
		background-color: currentColor;
		mask-image: var(--icon--image);
		mask-size: contain;
		mask-repeat: no-repeat;
		mask-position: center;
	}
}
