%l-metric-grid {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space--gap);
	min-inline-size: 0;
	max-inline-size: var(--size--metrics-max);
	container: metric-grid / inline-size;

	> * {
		flex: 1 1 min(var(--size--metric-max), calc((100% - var(--space--gap)) / 2));
		min-inline-size: 0;
		max-inline-size: var(--size--metric-max);
	}
}
