%d-ui {
	border: 1px solid $palette-ui-border;
	box-sizing: border-box;
	border-radius: 0.25rem;
	font-size: 1rem;
	transition:
		box-shadow 0.1s linear,
		border 0.1s linear;

	&:hover {
		border-color: $palette-ui-border-hover;
		box-shadow: 0 0 0 2px $palette-ui-outline-hover;

		&%mode-warning {
			border-color: lighten($palette-warning, 25%);
			box-shadow: 0 0 0 2px rgba($palette-warning, 0.25);
		}
	}

	&:focus {
		border-color: $palette-ui-border-focus;
		box-shadow: 0 0 0 4px $palette-ui-outline-focus;

		&%mode-warning {
			border-color: darken($palette-warning, 25%);
			box-shadow: 0 0 0 4px rgba($palette-warning, 0.5);
		}
	}

	&:invalid:not(:placeholder-shown):not(:focus) {
		border-color: darken($palette-warning, 25%);
		box-shadow: 0 0 0 4px rgba($palette-warning, 0.5);
	}

	&:active {
		transform: translateY(1px);
	}

// Size modifiers:
	&:not(&--size-small, &--size-large) {
		@extend %d-ui--size-normal;
	}

	&--size-normal {
		font-size: 1rem;
		padding: 0.5rem 1rem;
	}

	&--size-small {
		padding: 0.25rem 0.25rem;
		font-size: 0.75rem;
	}

	&--size-large {
		padding: 1rem 1rem;
		font-size: 1rem;
	}
}
