%p-corner-logo {
	display: inline-block;
	font-weight: normal;
	font-family: $font-heading;
	font-size: 1.5rem;

	a {
		display: inline-flex;
		padding: 1rem;
		align-items: center;
		height: $size-logo;
		text-decoration: none;
		color: $palette-text-header;

		@media(min-width: $break-medium) {
			padding-left: $size-logo + 2rem;
		}

		&:hover {
			text-decoration: underline;
		}

		img {
			display: block;
			width: $size-logo;
			height: $size-logo;
			margin-right: 1rem;

			&:not([src]) {
				background-color: $palette-panel;
			}

			@media(min-width: $break-medium) {
				position: fixed;
				left: 1rem;
				top: 1rem;
			}
		}
	}
}