/*
Page/action navigation that provides a top-to-bottom stacked list of
links/buttons that expands to left-to-right on larger screens.

Apply to a <nav> element. Internal structure should be a list (<ol> or <ul>),
and within each list item (<li>), a link or button (<a> or <button>).

Any extra elements contained within, such as a form for the button, should not
add any style of its own.

The active item in the list can be styled differently by adding the "selected"
class. This is useful for indicating which contained link corresponds to the
currently active page/action.

List items can be visually separated by ending the current list and starting a
new one.
 */

%p-nav {
	max-width: $break-small;
	margin: 0 auto;

	ul, ol {
		display: flex;
		align-items: stretch;
		flex-direction: column;

		@media(min-width: $break-medium) {
			flex-direction: row;
		}
	}

	li {
		padding: 0.25rem;

		&.selected {
			a, button {
				border-bottom: 0.25rem solid $palette-link;
			}
		}
	}

	a, button {
		@extend %o-button;
		width: 100%;
		text-align: center;
	}
}