:root {
	--border--code-input: var(--size--code-input--border) solid var(--pal--code-input--border);
	--border--panel: var(--size--panel--border) solid var(--pal--panel--border);
	--border--control: 2px solid var(--pal--control--border);
	--border--button: var(--size--button--border) solid var(--pal--button--border);
}
