:root {
	--font--code-input--family: "Fira Mono", monospace;
	--font--body--family: "Inter", sans-serif;
	--font--heading--family: "Inter", sans-serif;
	--font--label--family: "Inter", sans-serif;
	--font--button--weight: 600;
}
