:root {
	--motion--control--duration: 0.1s;
	--motion--control--easing: ease;
	--motion--focus--transition:
		outline-color var(--motion--control--duration) var(--motion--control--easing),
		outline-width var(--motion--control--duration) var(--motion--control--easing);

	@media(prefers-reduced-motion: reduce) {
		--motion--control--duration: 0s;
	}
}
