@use "break";

:root {
	--authwave-size-login-logo: 12rem;
	--authwave-size-code-input-font: 2rem;
	--authwave-size-code-input-border: 4px;
	--theme-icon-size: 1.25rem;
	--authwave-size-providers-font: 0.75rem;
	--authwave-size-report-chart-max: 64rem;
	--authwave-size-body-font: 16px;
	--authwave-size-title-font: calc(var(--authwave-size-body-font) * 2);
	--authwave-size-label-font: calc(var(--authwave-size-body-font) * 0.8);

	@media(min-width: break.$small) {
		--authwave-size-body-font: 18px;
	}
	@media(min-width: break.$medium) {
		--authwave-size-body-font: 20px;
	}
	@media(min-width: break.$large) {
		--authwave-size-body-font: 22px;
	}
	@media(min-width: break.$x-large) {
		--authwave-size-body-font: 24px;
	}
}
