:root {
	--authwave-space-code-input-gap: 0.5rem;
	--authwave-space-code-input-text-offset: 0.15em;
	--theme-icon-gap: 0.5rem;
	--authwave-space-providers-gap: 0.25rem;
	--authwave-space-providers-padding: 0.5rem;
	--authwave-space-topper: 4rem;
	--authwave-space-footer-block: 2rem;
	--authwave-space-label-margin: 0.5rem;
}
