:root {
	--space--code-input--gap: 0.5rem;
	--space--code-input--text-offset: 0.15em;
	--space--icon--gap: 0.5rem;
	--space--providers--gap: 0.25rem;
	--space--providers--padding: 0.5rem;
	--space--focus--offset: 4px;
	--space--topper: 4rem;
	--space--gap: 1rem;
	--space--control--padding: 0.75rem;
	--space--label--margin: 0.5rem;
}
