application-switcher {
	display: block;
	.select-control {
		display: block;
		position: relative;
		--theme-icon-gap: 0;
		&::before {
			position: absolute;
			inset-block-start: 50%;
			inset-inline-end: var(--theme-control-padding);
			transform: translateY(-50%);
			pointer-events: none;
		}
	}
	select {
		appearance: none;
		inline-size: 100%;
		padding-inline-end: calc(2 * var(--theme-control-padding) + var(--theme-icon-size));
		font-size: .85rem;
		font-weight: 600;
		cursor: pointer;
	}
}
