@use "../variable/break";

.site-footer {
	display: block;
	min-inline-size: 0;
	inline-size: 100%;
	box-sizing: border-box;
	margin-block-start: auto;
	padding: var(--space--footer-block) var(--space--workspace, var(--space--gap));
	font-size: .75rem;
	line-height: 1.5;
	color: var(--pal--body--text);

	nav { display: flex; flex-wrap: wrap; justify-content: center; gap: .5rem 1rem; }
	a { color: inherit; }

	@media(min-width: break.$small) {
		nav { justify-content: flex-end; }
	}
}
