.c-site-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0.5rem;

	@media(min-aspect-ratio: 4/7) {
		position: relative;
	}

	@media(min-width: $break-medium) {
		position: relative;
		margin: 0 auto;
		padding-top: $size-spacing-small;
		max-width: $size-card-large;
	}

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;

	@media(min-width: $break-small) {
		justify-content: space-between;
	}

	label, select, nav {
		font-size: 0.8rem;
	}

	form {
		margin: 0.5rem;
		margin-bottom: 1rem;
		width: 100%;
		text-align: center;

		@media(min-width: $break-small) {
			width: auto;
			text-align: left;
			margin-bottom: 0.5rem;
		}

		label {
			span {
				display: none;
			}
		}
	}

	nav {
		margin-bottom: 1rem;

		ul {
			display: flex;

			li {
				a {
					@extend %d-focus-hover;
					padding: 1rem;
					color: $palette-text-minor;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}