%d-focus {
	outline: var(--outline--focus);
	outline-color: transparent;
	outline-offset: var(--space--focus--offset);
	transition: var(--motion--focus--transition);

	&:is(:focus, :active):not(:disabled, [aria-disabled="true"]) {
		outline: var(--outline--focus);
	}

	&:active:not(:disabled, [aria-disabled="true"]) {
		outline-width: var(--size--focus--outline-active);
	}
}
