$font-body: sans-serif !default;
$font-heading: monospace !default;
$font-heading-weight: bold !default;
$font-code: monospace !default;
$font-user-input: $font-body !default;

$font-size-base: 16px;

$font-size-alpha: 2rem;