$palette-text-header: #333;
$palette-text-header-contrast: white;
$palette-text-body: #333;
$palette-text-body-contrast: white;
$palette-link: #00e;
$palette-link-contrast: white;

$palette-primary: #1474fb;
$palette-warning: #c82333;
$palette-primary-contrast: white;
$palette-warning-contrast: white;

$palette-ui: $palette-primary !default;
$palette-ui-hover: adjust_hue(lighten($palette-ui, 10%), 45deg) !default;
$palette-ui-focus: adjust_hue(darken($palette-ui, 10%), -45deg) !default;

$palette-panel: #eee;
$palette-panel-contrast: black;
$palette-container: #fff;

$palette-ui-background: #fff !default;
$palette-ui-background-hover: #fff !default;
$palette-ui-background-focus: #fff !default;
$palette-ui-background-active: #eee !default;
$palette-ui-background-border: #fff !default;

$palette-ui-border: #ccc !default;
$palette-ui-border-hover: mix($palette-ui-border, $palette-ui, 50%) !default;
$palette-ui-border-focus: $palette-ui !default;

$palette-ui-outline: transparent !default;
$palette-ui-outline-hover: rgba(lighten($palette-ui-border-hover, 15%), 0.5) !default;
$palette-ui-outline-focus: lighten($palette-ui-border-hover, 15%) !default;

$palette-ui-contrast: white !default;
$palette-ui-contrast-hover: red !default;
$palette-ui-contrast-focus: lime !default;