$palette-1: #444 !default;
$palette-2: #888 !default;

$palette-hover-outline: rgba(#aaa, 0.3) !default;
$palette-focus-outline: rgba(#1a73e8, 0.3) !default;
$palette-hover-outline-primary: rgba(#1a73e8, 0.3) !default;
$palette-focus-outline-primary: rgba(#1a73e8, 0.75) !default;

$palette-textarea: #efefef !default;
$palette-textarea-focus: #fefefe !default;

$palette-button: #efefef !default;
$palette-button-text: #1a73e8 !default;
$palette-button-primary: #1a73e8 !default;
$palette-button-primary-text: white !default;

$palette-text-body: black !default;
$palette-text-minor: #888 !default;

$palette-invalid: red !default;